In [1]:
import pandas as pd

In [4]:
# dataset from ranked challenger last updated 2020
df = pd.read_csv("ranked_challenger.csv")
df.head(10)

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,68,73016,49832,533,64,12.8,138,8,38711,60463
1,4247155821,1317,1,0,0,0,1,0,2,0,...,8,44218,37136,571,59,11.8,134,3,24829,14105
2,4243963257,932,0,0,0,0,0,0,0,0,...,20,30797,35364,400,50,10.0,89,5,12589,45201
3,4241678498,2098,0,0,0,1,1,0,1,1,...,72,125866,70528,832,84,16.8,205,9,65312,88202
4,4241538868,2344,1,1,1,1,1,1,2,2,...,83,131536,74596,794,85,17.0,227,7,86431,64141
5,4241394461,1567,1,1,1,0,0,1,2,0,...,34,64242,44280,555,61,12.2,140,3,23741,20132
6,4233222221,1686,0,0,1,0,0,0,0,0,...,59,78424,58032,640,73,14.6,214,5,31415,61040
7,4233113995,1588,1,1,1,1,0,1,2,1,...,30,62134,47408,608,63,12.6,133,5,27846,32107
8,4231100932,1618,1,1,1,1,0,1,3,1,...,34,69840,49906,646,69,13.8,159,6,32026,41601
9,4229230455,1126,1,0,1,0,1,0,1,0,...,13,32999,32064,461,53,10.6,92,3,23511,10775

In [12]:
df.iloc[0: ,0:26]

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,blueAssist,blueChampionDamageDealt,blueTotalGold,blueTotalMinionKills,blueTotalLevel,blueAvgLevel,blueJungleMinionKills,blueKillingSpree,blueTotalHeal,blueObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,22,56039,37001,440,56,11.2,105,4,31035,5675
1,4247155821,1317,1,0,0,0,1,0,2,0,...,31,60243,41072,531,63,12.6,111,3,26397,45303
2,4243963257,932,0,0,0,0,0,0,0,0,...,8,24014,22929,306,42,8.4,64,0,6567,5651
3,4241678498,2098,0,0,0,1,1,0,1,1,...,45,101607,63447,774,80,16.0,226,3,24718,31019
4,4241538868,2344,1,1,1,1,1,1,2,2,...,47,134826,74955,831,83,16.6,252,5,37161,95287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26899,4143231833,1468,0,1,0,0,0,0,1,0,...,50,99418,41437,438,60,12.0,106,8,20122,13309
26900,4157911901,970,0,1,1,0,1,0,3,0,...,36,61816,61221,346,65,13.0,28,5,32837,44640
26901,3764171638,1480,0,1,1,0,1,0,1,0,...,19,51604,45013,568,63,12.6,132,4,18131,45242
26902,4110201724,1837,1,1,0,0,1,0,3,0,...,66,93059,58160,640,76,15.2,168,7,75427,60486
26903,4100240254,948,1,1,1,0,0,0,1,0,...,19,22427,30001,399,50,10.0,89,3,10791,24827